* {
 
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 
}

html {

   font-size: 62.5%;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffe7e7;
}

#mainTitle {
  margin-top: 40px;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myName {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #333;
  padding: 10px;
  color: #ffe7e7;
  border-radius: 15px;

  margin-top: 25px;
  margin-bottom: 25px;
}

#URL {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: greenyellow;
  padding: 10px;
  color: #333;
  border-radius: 15px;

  margin-bottom: 25px;
}

#URL:hover {
  background-color: #333;
  color: greenyellow;
}
